
.btn 
{
    display: inline-block;
    border-radius: 5px;
    font-family: inherit;
    transition: var(--transition);
    font-weight: 400!important;
    padding:10px 28px;  
   
}

.btn-white 
{
    color: #000;
    border: 2px solid #e5e5e5;
    background-color: transparent; 
}
.btn-white:hover
{
    background-color:var(--priamry-color);
    color: #fff;
    border: 1px solid var(--priamry-color);
}
.btn-primary
{
    color: #fff!important;
    border: 1px solid var(--priamry-color);
    background-color: var(--priamry-color);
    font-size: 16px!important;
   
}
.btn-primary:hover
{
    background-color:transparent;
    color: #000!important;
    border: 1px solid var(--priamry-color);
}