.footer
{
padding: 5rem 0;
border-top: 1px solid rgba(70, 61, 61,0.2);
}
.footer h3 
{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.footer__upper
{
display: grid;
grid-template-columns: 1fr;

}

.footer__Logo
{
display: flex;
flex-direction: column;
align-items: center;
}
.logo2
{
height: 200px;
width: 400px;
}
.footer__div
{
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 2rem;
color:white;
}

.footer__div span 
{
font-size: 20px;
color: #000;
opacity: 0.8;
padding-bottom: 1.5rem;
}
.footer__1
{
display: flex;
flex-direction: column;
align-items: left;

}
.footer__2
{
display: flex;
flex-direction: column;
align-items: center;
}

.footer__3 
{
display: flex;
flex-direction: column;
align-items: flex-end;
}

.fa-icon
{
display: flex;
gap: 1.2rem;

}
.fa
{
font-size: 35px;
color: #5F7FFF;
}
.fa:hover
{
background: #5F7FFF;
color: #fff;

border-radius: 5px;
box-shadow: 0 0 5px #5F7FFF,
0 0 25px #5F7FFF,
0 0 50px #5F7FFF,
0 0 100px #5F7FFF;
transition: all 0.2s ease-in-out;
}


/* Copyright  */
.copyright
{
background:#263366;

padding: 1.5rem 0;
text-align: center;
font-family: inherit;

}

.copyright p 
{
color: #fff;
opacity: 1;
font-size: 12px;
}

@media  screen and (max-width:600px)
{
.logo2 {
height: 187px;
width: 319px;
}
.footer__div
{

grid-template-columns:1fr;

}
.footer__1
{

    align-items: center;
}

.footer__3 
{
align-items: center;
}


}

