/* ################  Header  Section   ######################### */
/* .section-header */

.header
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    padding: 40px 80px;
    transition:all 0.3s ease-in-out;
  
}

.logo1
{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky-header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    background: rgba(255, 251, 251, 0.705); 
    
  
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);
    
}
.sticky-header.active 
{
    
    background-color: rgba(255, 255, 255, 0.9);
   
}
.sticky-header.active .header
{
    padding: 40px 80px;
    height:40px;
   
}
/* ##########################   Media Queries  (BIG)
############################*/


@media  screen and (max-width:1024px)

{

.header {
 
    padding: 40px -50px;

}
}
/* ##########################   Media Queries  (small)
############################*/
@media  screen and (max-width:600px)

{

.header {
 
    padding: 40px -50px;

}
.logo1 {
    height: 149px;
}
.head__common
{
   font-size: 20px;
  
}
.h2::after
{
 
   left: 47%;
  
}
}